<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>日新查询服务</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
</head>

<body>
    <section class="col-xs-12 classList-section">
        <div class="col-xs-2 classList-back">
            <a href="javascript:window.history.go(-1);">
                <img class="img-responsive" src="/images/classList-1.png" alt="" />
            </a>
        </div>
        <div class="col-xs-12 classList-info">
            <div class="col-xs-7 classList-user">
                <h2>刘小波</h2>
                <span>2015211001000622</span>
            </div>
            <div class="col-xs-2 col-xs-offset-3 classList-login">
                <a href="/"><img class="img-responsive" src="/images/classList-2.png" alt="" /></a>
            </div>
            <div class="col-xs-12 classList-date">
                <div class="col-xs-6">
                    <span>日期</span>
                    <span class="span-date">2017/09/13</span>
                </div>
                <div class="col-xs-5 col-xs-offset-1">
                    <span>课程数目</span>
                    <span class="span-date" id="btn_date">4节</span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 classList-day">
            <span class="col-xs-3">昨天</span>
            <span class="col-xs-3">今天</span>
            <span class="col-xs-3">明天</span>
            <span class="col-xs-3">后天</span>
            <span class="cube active1">小波</span>
        </div>
        <div class="col-xs-12 classList-table">
            <table class="table" data-length="<%= classInfo.yesterday.length %>">
                <thead>
                    <th>课节</th>
                    <th>课程</th>
                    <th>教师</th>
                    <th>教室</th>
                </thead>
                <tbody>
                    <% for(var i=0 ; i<classInfo.yesterday.length ; i++){ %>
                        <tr>
                            <td>
                                <%= classInfo.yesterday[i].classString %>
                            </td>
                            <td>
                                <%= classInfo.yesterday[i].course %>
                            </td>
                            <td>
                                <%= classInfo.yesterday[i].teacherName %>
                            </td>
                            <td>
                                <%= classInfo.yesterday[i].classRoom %>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
            <table class="table table-show" data-length="<%= classInfo.today.length %>">
                <thead>
                    <th>课节</th>
                    <th>课程</th>
                    <th>教师</th>
                    <th>教室</th>
                </thead>
                <tbody>
                    <% for(var i=0 ; i<classInfo.today.length ; i++){ %>
                        <tr>
                            <td>
                                <%= classInfo.today[i].classString %>
                            </td>
                            <td>
                                <%= classInfo.today[i].course %>
                            </td>
                            <td>
                                <%= classInfo.today[i].teacherName %>
                            </td>
                            <td>
                                <%= classInfo.today[i].classRoom %>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
            <table class="table" data-length="<%= classInfo.tomorrow.length %>">
                <thead>
                    <th>课节</th>
                    <th>课程</th>
                    <th>教师</th>
                    <th>教室</th>
                </thead>
                <tbody>
                    <% for(var i=0 ; i<classInfo.tomorrow.length ; i++){ %>
                        <tr>
                            <td>
                                <%= classInfo.tomorrow[i].classString %>
                            </td>
                            <td>
                                <%= classInfo.tomorrow[i].course %>
                            </td>
                            <td>
                                <%= classInfo.tomorrow[i].teacherName %>
                            </td>
                            <td>
                                <%= classInfo.tomorrow[i].classRoom %>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
            <table class="table" data-length="<%= classInfo.afterTomorrow.length %>">
                <thead>
                    <th>课节</th>
                    <th>课程</th>
                    <th>教师</th>
                    <th>教室</th>
                </thead>
                <tbody>
                    <% for(var i=0 ; i<classInfo.afterTomorrow.length ; i++){ %>
                        <tr>
                            <td>
                                <%= classInfo.afterTomorrow[i].classString %>
                            </td>
                            <td>
                                <%= classInfo.afterTomorrow[i].course %>
                            </td>
                            <td>
                                <%= classInfo.afterTomorrow[i].teacherName %>
                            </td>
                            <td>
                                <%= classInfo.afterTomorrow[i].classRoom %>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>
        <div class="col-xs-4 col-xs-offset-4 feedback classList-feedback">
            <a href="/feedback">问题反馈</a>
        </div>
    </section>
    <script>
    var days = document.querySelectorAll(".classList-day span");
    var tables = document.querySelectorAll(".classList-table .table");
    var btn_date = document.querySelector("#btn_date");
    var classNum = tables[1].dataset['length'];
    btn_date.innerHTML=classNum+"节";
    for (var i = 0; i < days.length - 1; i++) {
        (function(i) {
            days[i].addEventListener("touchstart", function() {
                for (var k = 0; k < days.length - 1; k++) {
                    days[days.length - 1].classList.remove('active' + k);
                }
                days[days.length - 1].classList.add('active' + i);

                for (var j = 0; j < tables.length; j++) {
                    tables[j].classList.remove('table-show');
                }
                tables[i].classList.add('table-show');
                classNum = tables[i].dataset['length'];
                btn_date.innerHTML=classNum+"节";
            })
        })(i);
    }
    </script>
    <script src="/javascripts/index.js"></script>
</body>

</html>