<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>日新查询服务</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/jqbar.css' />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
</head>

<body>
    <section class="col-xs-12 score-section">
        <div class="col-xs-2 score-back">
            <a href="javascript:window.history.go(-1);">
                <img class="img-responsive" src="/images/score-1.png" alt="" />
            </a>
        </div>
        <div class="col-xs-12 score-info">
            <div class="col-xs-7 score-user" id="scoreUser">
                <h2>刘小波</h2>
                <span>2015211001000622</span>
            </div>
            <div class="col-xs-2 col-xs-offset-3 score-login">
                <a href="/"><img class="img-responsive" src="/images/classList-2.png" alt="" /></a>
            </div>
        </div>
        <div class="col-xs-12 score-mask bars">
            <h2>本学期考试成绩</h2>
           
            <% for(var i = 0 ; i < score.scoreNumber.length ; i++){ %>
                
                <div class="col-xs-3 score-mask-item">
                    <div id="bar-<%= i+1 %>" data-label="<%= score.scoreNumber[i].objectName %>" data-value="<%= score.scoreNumber[i].score %>"></div>
                </div>  
                
            <% } %>
        </div>
        <div class="col-xs-12 score-text">
            <% for(var i = 0 ; i < score.scoreText.length ; i++){ %>
                <% if(score.scoreText[i].score == '优秀' || score.scoreText[i].score == '良好'){ %>
                    <div class="col-xs-10 col-xs-offset-1 score-text-item">
                        <span data-label="<%= score.scoreText[i].objectName %>"><%= score.scoreText[i].objectName %></span>
                        <span data-value="<%= score.scoreText[i].score %>"><%= score.scoreText[i].score %></span>
                    </div>    
                <% }else{ %>
                    <div class="col-xs-10 col-xs-offset-1 score-text-item score-text-bad">
                        <span data-label="<%= score.scoreText[i].objectName %>"><%= score.scoreText[i].objectName %></span>
                        <span data-value="<%= score.scoreText[i].score %>"><%= score.scoreText[i].score %></span>
                    </div>
                <% } %>
            <% } %>
            
            <div class="col-xs-10 col-xs-offset-1">
                <div class="col-xs-8 col-xs-offset-2 feedback score-feedback">
                    <a href="/feedback">问题反馈</a>
                </div>  
            </div>
        </div>
    </section>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/javascripts/jqbar.js"></script>
    <script src="/javascripts/index.js"></script>
    <script>
    $(document).ready(function() {
        var items = $('.score-mask > .score-mask-item');
        for (var i = 0; i < items.length; i++) {
            var item=$('#bar-'+(i+1));
            item.jqbar({ label: item.data('label'), value: item.data('value'), barColor: '#37CE22', orientation: 'v' });
        }
    })
    var infoStr = window.localStorage.getItem("userInfo");
    var userInfo = JSON.parse(infoStr);
    var userName = document.querySelector('#scoreUser > h2');
    var userId = document.querySelector('#scoreUser > span');
    userName.innerHTML = userInfo.name;
    userId.innerHTML = userInfo.id;
    </script>
</body>

</html>